<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
        <head>
                <title>EXHAUST - Activity Feed</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui.css" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;

  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }
  </style>
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index.html">EXHAUST</a></h1>

                                        <!-- Nav -->
                                        <nav id="nav">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                              <li><a href="/events/all/">Compete</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feed
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">LOG ACTIVITY
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/new/cycle">Cycling</a></li>
                                                              <li><a href="/new/hike">Hiking</a></li>
                                                              <li><a href="/new/run">Running</a></li>
							      <li><a href="/new/strength">Strength Training</a></li>
							      <li><a href="/new/yoga">Yoga</a></li>
                                                            </ul>
                                                          </li>

                                                          <li><a href="#">Wallet</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% endif %}
                                        </nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12 col-12-medium">
								<!-- Content -->
									<article class="box post">
										<div class="row">
											<div class="col-2 col-12-medium">
												<img src="{{ IMAGE }}" class="responsive">
											</div>
											<div class="col-8 col-12-medium">
												<header>
												<center>
												<h2>My Dashboard</h2>
						                                                <p>{{ STEEM_ID }} ~ {{ ABOUT }}</p>
												</center>
												</header>
												<center>FOLLOWERS: {{ FOLLOWERS }}, FOLLOWING: {{ FOLLOWING }}, FRIENDS: {{ FRIENDS }}</center><br>
												<center>
													<ul class="list-inline">
						<!--                                                          <li><a class="button alt small" href="/">Home</a></li>-->
						                                                          <li class="dropdown">
                                						                            <a class="button alt small" data-toggle="dropdown" href="#">Default Map Privacy Settings
				                		                                            <span class="caret"></span></a>
                                						                            <ul class="dropdown-menu">
				                                                		              <li {% if MAP_PRIV == 1 %}class="active"{% endif %}><a href="/settings/default/1/">Don't Share</a></li>
<!--                            				                                		  <li><a href="/settings/default/2/">Friends Only</a></li>
						                                                              <li><a href="/settings/default/3/">Share with People I Follow</a></li>
                		                				                              <li><a href="/settings/default/3/">Share with Followers</a></li>-->
						                                                              <li {% if MAP_PRIV == 5 %}class="active"{% endif %}><a href="/settings/default/5/">Share with Everyone</a></li>
				                		                                            </ul>
                                						                          </li>
				                                                		          <li class="dropdown">
		                                				                            <a class="button alt small" data-toggle="dropdown" href="#">Activity Type
						                                                            <span class="caret"></span></a>
                                						                            <ul class="dropdown-menu">
				                		                                              <li><a id="running">Running</a></li>
                                						                              <li><a id="cycling">Cycling</a></li>
				                                                		              <li><a id="hiking">Hiking</a></li>
		                                				                            </ul>
						                                                          </li><li class="dropdown">
                                						                            <a class="button alt small" data-toggle="dropdown" href="#">Filter Activities
				                		                                            <span class="caret"></span></a>
                                						                            <ul class="dropdown-menu">
				                                                		              <li><a href="/feed/all/new/">Year</a></li>
		                                				                              <li><a href="/feed/running/new/">Month</a></li>
						                                                            </ul>
                                						                          </li>
				                		                                        </ul>
												</center>
											</div>
											<div class="col-2 col-12-medium">
												SOME KIND OF TROPHY
											</div>
										</div>
				                                    	</article>
<!--					</div>

							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
<!--									<section class="box">
										<header>
											<h3>Notifications</h3>
										</header>
										<ul class="divided">
											<li>Coming soon!</li>
										</ul>
										<footer>
											<a href="#" class="button alt">See More</a>
										</footer>
									</section>
									<section class="box">
										<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
										<header>
											<h3>Wallet at a Glance</h3>
										</header>
										<h6>STEEM POWER = {{ STEEM_POW }} SP</h6>
										<h6>SBD BALANCE = {{ SBD_BAL }}</h6>
										<h6>STEEM BALANCE = {{ STEEM_BAL }}</h6>
										<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
										<div class="coinmarketcap-currency-widget" data-currencyid="1230" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
										<div class="coinmarketcap-currency-widget" data-currencyid="1312" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
										<footer>
											<a href="https://steemit.com/@{{ STEEM_ID }}/transfers" class="button alt">Wallet</a>
										</footer>
									</section>

							</div>
						</div><br>-->
<script>
// Change activities for charts on Dashboard:
$('#running').on('click', function(event){
    event.preventDefault();
    console.log("User requested Running!")  // sanity check
    change_to_running();
});
// Change activities for charts on Dashboard:
$('#hiking').on('click', function(event){
    event.preventDefault();
    console.log("User requested Hiking!")  // sanity check
    change_to_hiking();
});
// Change activities for charts on Dashboard:
$('#cycling').on('click', function(event){
    event.preventDefault();
    console.log("User requested Cycling!")  // sanity check
    change_to_cycling();
});



// AJAX for grabbing cycling charts
function change_to_cycling() {
    console.log("Changing to cycling!") // sanity check
    $.ajax({
        url : "/updatedash", // the endpoint
        type : "POST", // http method
        data : {'activity':'cycling'}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#volseven").html(json.volseven);
            $("#volthirty").html(json.volthirty);
            $("#volninety").html(json.volninety);
            $("#trainingcount").text("COUNT: " + json.stats['count']);
            $("#trainingdist").text("DISTANCE: " + json.stats['distance']+" km");
            $("#trainingtime").text("DURATION: " + json.stats['duration']);
            $("#trainingreward").text("REWARDS: " + json.stats['reward']+ " STEEM");
            $("#trainingtype").text("CYCLING STATS");
            console.log("Updated charts");
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
// AJAX for grabbing running charts
function change_to_running() {
    console.log("Changing to running!") // sanity check
    $.ajax({
        url : "/updatedash", // the endpoint
        type : "POST", // http method
        data : {'activity':'running'}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#volseven").html(json.volseven);
            $("#volthirty").html(json.volthirty);
            $("#volninety").html(json.volninety);
            $("#trainingcount").text("COUNT: " + json.stats['count']);
            $("#trainingdist").text("DISTANCE: " + json.stats['distance']+" km");
            $("#trainingtime").text("DURATION: " + json.stats['duration']);
            $("#trainingreward").text("REWARDS: " + json.stats['reward']+ " STEEM");
            $("#trainingtype").text("RUNNING STATS:");
            console.log("Updated charts");
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
// AJAX for grabbing hiking charts
function change_to_hiking() {
    console.log("Changing to hiking!") // sanity check
    $.ajax({
        url : "/updatedash", // the endpoint
        type : "POST", // http method
        data : {'activity':'hiking'}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#volseven").html(json.volseven);
            $("#volthirty").html(json.volthirty);
            $("#volninety").html(json.volninety);
            $("#trainingcount").text(" COUNT: " + json.stats['count']);
            $("#trainingdist").text("DISTANCE: " + json.stats['distance']+" km");
            $("#trainingtime").text("DURATION: " + json.stats['duration']);
            $("#trainingreward").text("REWARDS: " + json.stats['reward']+ " STEEM");
            $("#trainingtype").text("HIKING STATS:");
            console.log("Updated charts");
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

</script>
										<article class="box post">
											<div class="row">
												<h3 id="trainingtype"><center>RUNNING STATS:</center></h3>
											</div>
											<div class="row">
												<div class="col-2 col-12-medium" id="trainingcount">COUNT: {{ RUN_COUNT }}</div>
												<div class="col-3 col-12-medium" id="trainingdist">DISTANCE: {{ RUN_DIST }} km</div>
										        	<div class="col-3 col-12-medium" id="trainingtime">DURATION: {{ RUN_HRS }}h:{{ RUN_MINS }}m:{{ RUN_SECS }}s</div>
										        	<div class="col-4 col-12-medium" id="trainingreward">REWARDS: {{ RUN_REWARD }} STEEM</div>
											</div>
										</article>

									<article class="box post">
									  <div class="row">
									    <div class="col-12 col-12-medium">
										<header><center><h1>TRAINING VOLUME</h1></center></header>
									    </div>
									  </div>
									  <div class="row">
									    <div class="col-4 col-12-medium" id="volseven">
										{{ VOLSEVEN|safe }}
									    </div>
									    <div class="col-4 col-12-medium" id="volthirty">
										{{ VOLTHIRTY|safe }}
									    </div>
                                                                            <div class="col-4 col-12-medium" id="volninety">
                                                                                {{ VOLNINETY|safe }}
                                                                            </div>
									  </div>
									</article>

									<article class="box post">
										{% block scatter %}
											{% include "scatterchart.html" %}
										{% endblock %}
									</article>

						<div class="row">
							<div class="col-12 col-12-medium">
								<header>
								<h2><center>Recent Activities:</center></h2>
								</header>
							</div>
						</div>
						<div class="row">
							<div class="col-4 col-12-medium">
			                                    <article class="box post">
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-med">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="slider-form">
		<div class="modal-header">
			Slow down for a second.
		</div>
                <div class="modal-body" style="padding:40px 20px;">
                        {% csrf_token %}
                        <div id="alert">
                                <h2><center>Are you sure you want to do this?.<center></h2>
                        </div>
                        <div id="activity">
                                <p>
				This can't be undone...unless you upload the same activity again, I guess... 
				And you're probably only deleting this because you had to try uploading a few
				times because for one reason or another, this site doesn't work perfectly all
				time. But we appreciate you sticking with it.
				<p>
                        </div>
                        <div id="weight_info">
                                <center><b>Just try not to hurt yourself out there, yeah? Go be the best you that you can be.</b></center>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <a href="/vote/a/w100" id="voter"><i class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-triangle-top"></span> Vote</i></a>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>

								<header><h3><center>Running Activities</center></h3></header>
								<ul class="divided">
									{% for run in RUN_HISTORY %}
										<li><a href="/dash/run/{{ run[0] }}/">{{ run[1] }}</a>
										- {{ run[2] }} <!--- <a href="#">Edit Run</a>--><br>
										{% if run[3] %} Posted to Steem! {% else %} Not Posted to Steem.
  <!-- Trigger the modal with a button -->
  <a><i id="delAct{{ run[0] }}" class="icon alt fa-trash-o"> Delete Activity?</i></a>

<script>
$(document).ready(function(){
    $("#delAct{{ run[0] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/delete/{{ run[0] }}";  
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
{% endif %}</li>


<!-- link above to have modal for "Are you sure you want to delete this run?" -->
									{% endfor %}
								</ul>
							    </article>
							</div>
                                                        <div class="col-4 col-12-medium">
                                                            <article class="box post">
                                                                <header><h3><center>Cycling Activities</center></h3></header>
                                                                <ul class="divided">
                                                                        {% for cycle in CYCLE_HISTORY %}
                                                                                <li><a href="/dash/cycle/{{ cycle[0] }}/">{{ cycle[1] }}</a>
                                                                                - {{ cycle[2] }} <!--- <a href="#">Edit Run</a>--><br>
                                                                                {% if cycle[3] %} Posted to Steem! {% else %} Not Posted to Steem.
  <!-- Trigger the modal with a button -->
  <a><i id="delAct{{ cycle[0] }}" class="icon alt fa-trash-o"> Delete Activity?</i></a>

<script>
$(document).ready(function(){
    $("#delAct{{ cycle[0] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/delete/{{ cycle[0] }}";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
{% endif %}</li>
                                                                        {% endfor %}
                                                                </ul>
                                                            </article>
                                                        </div>
                                                        <div class="col-4 col-12-medium">
                                                            <article class="box post">
                                                                <header><h3><center>Hiking Activities</center></h3></header>
                                                                <ul class="divided">
                                                                        {% for hike in HIKE_HISTORY %}
                                                                                <li><a href="/dash/hike/{{ hike[0] }}/">{{ hike[1] }}</a>
                                                                                - {{ hike[2] }} <!--- <a href="#">Edit Run</a>--><br>
                                                                                {% if hike[3] %} Posted to Steem! {% else %} Not Posted to Steem.
  <!-- Trigger the modal with a button -->
  <a><i id="delAct{{ hike[0] }}" class="icon alt fa-trash-o"> Delete Activity?</i></a>

<script>
$(document).ready(function(){
    $("#delAct{{ hike[0] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/delete/{{ hike[0] }}";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
{% endif %}</li>

                                                                        {% endfor %}
                                                                </ul>
                                                            </article>
                                                        </div>
						</div>
						<div class="row">
                                                       <div class="col-4 col-12-medium">
                                                            <article class="box post">
                                                                <header><h3><center>Yoga Activities</center></h3></header>
                                                                <ul class="divided">
                                                                        {% for yoga in YOGA_HISTORY %}
                                                                                <li><a href="/dash/yoga/{{ yoga[0] }}/">{{ yoga[1] }}</a>
                                                                                - {{ yoga[2] }} <!--- <a href="#">Edit Run</a>--><br>
                                                                                {% if yoga[3] %} Posted to Steem! {% else %} Not Posted to Steem.
  <!-- Trigger the modal with a button --> 
  <a><i id="delAct{{ yoga[0] }}" class="icon alt fa-trash-o"> Delete Activity?</i></a>

<script>
$(document).ready(function(){
    $("#delAct{{ yoga[0] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/delete/{{ yoga[0] }}";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
{% endif %}</li>

                                                                        {% endfor %}
                                                                </ul>
                                                            </article>
                                                        </div>
						</div>
<!--						<div class="row">
							<div class="col-12 col-12-medium">
			                                    <article class="box post">
								<section>
									<header>
										<h3>Achievements</h3>
									</header>
									<p>
									What's life without achievements? Not a life worth living -- that's for sure. Achievements go here.
									</p>
								</section>
							    </article>
							</div>
						</div>-->
					</div>
				</section>

			{% block content %}
                {% include 'footer.html' %}
            {% endblock %}
		</div>

		<!-- Scripts -->
                        <script src="{{ STATIC_URL }}activities/assets/js/slider_ajax.js"></script>
<!--			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.dropotron.min.js"></script>-->
			<script src="{{ STATIC_URL }}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/main.js"></script>
                        <script src="{{ STATIC_URL }}activities/assets/js/rango-ajax.js"></script>
	</body>
</html>

