{# load static #}
<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - Activity Feed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;
    
  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }

  </style>



	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">EXHAUST</a></h1>

					<!-- Nav -->
					<nav id="nav">
						<div class="row">
						    <div class="col-md-4">
						    </div>
						    <div class="col-md-4">
							<ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
							  <li><a href="/">Home</a></li>
							  <li class="dropdown active">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
							    <span class="caret"></span></a>
							    <ul class="dropdown-menu">
							      <li><a href="/feed/all/new/">Socialize</a></li>
                                                              <li><a href="/events/all/">Compete</a></li>
                                                              <li><a href="/leaderboard">Compare</a></li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activity Type
							    <span class="caret"></span></a>
							    <ul class="dropdown-menu">
							      <li><a href="/feed/all/new/">All</a></li>
							      <li><a href="/feed/running/new/">Running</a></li>
							      <li><a href="/feed/cycling/new/">Cycling</a></li>
							      <li><a href="/feed/hiking/new/">Hiking</a></li>
							      <li><a href="/feed/yoga/new/">Yoga</a></li>
							    </ul>
							  </li>
							  <li><a href="/dash/">Dashboard</a></li>
							  <li><a href="#">Wallet</a></li>

							</ul>
						    </div>
						    <div class="col-md-4">
						    </div>
						    </div>
							{% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
							      <li><a href="/feed/yoga/new/">Yoga</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
							{% endif %}
					</nav>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12 col-12-medium imp-medium">

								<!-- Content -->
									<article>
										<header>
											<center>
											<h2>
												{% if ACTIVITY_TYPE == "run" %}Running Activities{% endif %}
                                                                                                {% if ACTIVITY_TYPE == "cycle" %}Cycling Activities{% endif %}
                                                                                                {% if ACTIVITY_TYPE == "hike" %}Hiking Activities{% endif %}
												{% if ACTIVITY_TYPE == "all" %}All Activities{% endif %}
											</h2>
											<h3>Most Recent</h3>
											<p></p>
											</center>
										</header>
									</article>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="slider-form">
                <div class="modal-body" style="padding:40px 20px;">
                        {% csrf_token %}
                        <div id="the_form">
                                {{ SLIDERFORM }}
                        </div>  
                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>
                        <div id="weight_info">
                                <center><b id="weight"></b><b id="value"></b></center>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <a href="/vote/@activity/w100" id="voter"><i class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-triangle-top"></span> Vote</i></a>
                </div>
        </form>
      </div>
    </div>
  </div>
					                                    {% for post in POSTLIST %}
										{% if post.type.type == "running" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#ffe6e6">{% endif %}
                                                                                {% if post.type.type == "cycling" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#e6e6ff">{% endif %}
                                                                                {% if post.type.type == "hiking" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#ccffcc">{% endif %}
										{% if post.type.type == "strength" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#a3c2c2">{% endif %}
                                                                                {% if post.type.type == "yoga" and ACTIVITY_TYPE == "all" %}<article class="box post" style="background-color:#FFCB90">{% endif %}

                                                                                {% if ACTIVITY_TYPE != "all" %}<article class="box post">{% endif %}
										<div class="container">
											<div class="row">
												<div class="col-2 col-12-medium imp-medium">
													<p>
													<center><img src="/media/{{ post.photo }}" class="responsive" alt="No Image"/></center>
											 		</p>
												</div>
												<div class="col-10 col-12-medium imp-medium">

                                                                                                        <div class="row">
                                                                                                            <p><a href='/feed/{{ post.type }}/{{ post.pk }}'>{{ post.title }}</a> || <a href='/@{{ post.user }}'>{{ post.user }}</a> {{ post.type }} {% if post.distance %}{{ post.distance }}km{% else %} session{% endif %} -- {{ post.inpast }} ago<br><br>
                                                                                                        {{ post.brief }}</p>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                                <div class="col-8 col-12-medium imp-medium">
                                                                                                                        <p><i class="icon alt fa-hourglass"></i> Duration: {{ post.duration }} minutes! |
                                                                                                                        <i class="icon alt fa-bolt"></i> Pace: {{ post.pace }} minute/km |
                                                                                                                        <i class="icon alt fa-usd"></i> {{ post.reward }}</p>
                                                                                                                </div>
        			                                    {% if post.voted %}
														<div class="col-4 col-12-medium imp-medium">
															  <i class="button alt"><i class="icon alt fa-thumbs-up"> HIGH FIVED!</i></i>


													</div>
													    {% else %}
														<div class="col-4 col-12-medium imp-medium">
						                                            				<center>

																{% if user.is_authenticated %}
<div class="container">
  <!-- Trigger the modal with a button -->
  <i class="button"><i id="myBtn{{ post.pk }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></i>

</div>

<script>
$(document).ready(function(){
    $("#myBtn{{ post.pk }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/a{{ post.pk }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});
</script>

																{% endif %}
															</center>
														</div>
			                                            {% endif %}
													</div>
												</div>
											</div>
										</div>
									</article>
                                    {% endfor %}

							</div>
						</div>
					</div>
<script>
// Update vote on slider timeout:
$('#slider-form').on('change', function(event){
    event.preventDefault();
    console.log("Change Detected!")  // sanity check
    get_vote_value();
});

// AJAX for grabbing vote weight
function get_vote_value() {
    console.log("Grabbing vote numbers") // sanity check
    console.log($('#id_num').val());
    $.ajax({
        url : "/votecalc", // the endpoint
        type : "POST", // http method
        data : { num : $('#id_num').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#weight").text(json.weight+"% VOTE = ");
            $("#value").text(json.weightvalue+" SBD");
            var weight = json.weight
            var str = $("#voter").attr("href");
            var newlnk = str.replace(/w\d+/, "w"+weight)
            console.log(str);
            console.log(newlnk)
            $("#voter").attr("href", newlnk);
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>
				</section>

			<!-- Footer -->
				{% block footer %}
                    {% include 'footer.html' %}
                {% endblock %}

		</div>

		<!-- Scripts -->
<script>

</script>

			<script src="{{ STATIC_URL }}activities/assets/js/slider_ajax.js"></script>
<!--			<script src="{# STATIC_URL #}activities/assets/js/jquery.min.js"></script>
			<script src="{# STATIC_URL #}activities/assets/js/jquery.dropotron.min.js"></script>-->
			<script src="{{ STATIC_URL }}activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/main.js"></script>
<!--                        <script src="{# STATIC_URL #}activities/assets/js/jquery-3.3.1.min.js"></script>-->
                        <script src="{{ STATIC_URL }}activities/assets/js/rango-ajax.js"></script>

<!--			<script type='text/javascript' src="{# STATIC_URL #}js/jquery-ui.js"></script>-->
	</body>
</html>
