<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL }}/activities/assets/css/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">EXHAUST</a></h1>
						<h3>Exercise Tracking and Analytics on the STEEM Blockchain!</h3>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">HOME</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<!--<li><a href="#">Map</a></li>
										<li><a href="#">Statistics</a></li>
										<li><a href="#">Everyone</a></li>-->
										<li>
											<a href="/leaderboard">Leaderboards</a>
			                                                                <li><a href="/events/all/">Compete</a></li>
										</li>
									</ul>
								</li>
								{% if user.is_authenticated %}
                                    <li><a href="feed/all/new/">Feed</a></li>
                                    <li><a href="dash/">Dashboard</a></li>
                                    <li><a href="https://steemit.com/@{{ STEEM_ID }}/transfers">Wallet</a></li>
                                {% else %}
                                    <li><a href="feed/all/new/">Feed</a></li>
                                {% endif %}
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								{% if user.is_authenticated %}
								<h2> Welcome Back, {{ STEEM_ID }} </h2>
                                    <p> We Missed You </p>
                                {% else %}
                                <h2> Welcome to EXHAUST </h2>
                                    <p>A Place Where You Can Get Paid to Try Hard</p>
                                {% endif %}
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon featured fa fa-list"></i>
										<header>
											<h2>{{ ACTIVITYLEADER[0] }}</h2>
										</header>
										<p>Most Activities Last 7 Days<br>{{ ACTIVITYLEADER[1] }} Activities!<br><a href="/feed/run/{{ ACTIVITYLEADER[3] }}/">{{ ACTIVITYLEADER[2] }}</a></p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon featured alt fa-fast-forward"></i>
										<header>
											<h2>{{ PACELEADER[0] }}</h2>
										</header>
										<p>Fastest Average Pace Last 7 Days<br>{{ PACELEADER[1] }} min/km!<br><a href="/feed/run/{{ PACELEADER[3] }}/">{{ PACELEADER[2] }}</a></p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon featured al2 fa-road"></i>
										<header>
											<h2>{{ DISTANCELEADER[0] }}</h2>
										</header>
										<p>Most Distance Last 7 Days<br>{{ DISTANCELEADER[1] }} km's!<br><a href="/feed/run/{{ DISTANCELEADER[3] }}/">{{ DISTANCELEADER[2] }}</a></p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li>
									{% if user.is_authenticated %}
                                        <a href="dash/" class="button large">
                                        My Dashboard
                                        <li><a href="accounts/logout/" class="button alt large">Log Out</a></li>
                                    {% else %}
                                        <a href="accounts/login/" class="button large">
                                        Log In
                                        <li><a href="#" class="button alt large">Learn More</a></li>
                                    {% endif %}</a></li>
								</ul>
							</footer>
						</section>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Good Reads</h2>
										</header>
										<div class="row">
                                                                                        {% for i in range(0,6):%}
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="/article/@{{ GOOD_READS[i]['author'] }}/{{ GOOD_READS[i]['permlink'] }}"" class="image featured"><img src="{{ GOOD_READS[i]['imglink'] }}" alt="{{ GOOD_READS[i]['imglink'] }}" /></a>
													<header>
														<h3>{{ GOOD_READS[i]['title'] }}</h3>
														<p>Posted {{ GOOD_READS[i]['created'] }} ago</p>
													</header>
													<h4>- @<a href='/@{{ GOOD_READS[i]['author'] }}'>{{ GOOD_READS[i]['author'] }}</a></h4>
													<footer>
														<ul class="actions">
															<li><a href="/article/@{{ GOOD_READS[i]['author'] }}/{{ GOOD_READS[i]['permlink'] }}" class="button alt">Read More</a></li>
														</ul>
													</footer>
												</section>
											</div>
                                                                                        {% endfor %}
										</div>
									</section>

							</div>
							<div class="col-12">

								<!-- Blog -->
									<section>
										<header class="major">
											<h2>The Blog</h2>
										</header>
										<div class="row">
											{% for i in range(0,2) %}
											<div class="col-6 col-12-small">
												<section class="box">
													<a href="/article/@{{ BLOG[i]['author'] }}/{{ BLOG[i]['permlink'] }}" class="image featured"><img src="{{ BLOG[i]['imglink'] }}" alt="" /></a>
													<header>
														<h3>{{ BLOG[i]['title'] }}</h3>
														<p>Posted {{ BLOG[i]['created'] }}  ago</p>
													</header>
													<footer>
														<ul class="actions">
															<li><a href="/article/@{{ BLOG[i]['author'] }}/{{ BLOG[i]['permlink'] }}" class="button icon fa-file-text">Read Full Post</a></li>
<!--															{% if user.is_authenticated %}
															<li><a href="/vote/@{{ BLOG[i]['author'] }}/{{ BLOG[i]['permlink'] }}" class="button alt icon fa-hand-paper-o">HIGH FIVE?</a></li>
															{% endif %}-->
														</ul>
													</footer>
												</section>
											</div>
											{% endfor %}
										</div>
									</section>

							</div>
						</div>
					</div>
				</section>



			
                {% block content %}
                    {% include "footer.html" %}
                {% endblock %}


		</div>

		<!-- Scripts -->
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>

	</body>
</html>
