{# load static #}
<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - Activity Feed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;
    
  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }

  </style>



	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">EXHAUST</a></h1>

					<!-- Nav -->
					<nav id="nav">
						<div class="row">
						    <div class="col-md-4">
						    </div>
						    <div class="col-md-4">
							<ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
							  <li><a href="/">Home</a></li>
							  <li class="dropdown active">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
							    <span class="caret"></span></a>
							    <ul class="dropdown-menu">
							      <li><a href="/feed/all/new/">Socialize</a></li>
<!--							      <li><a href="/calendar/">Train</a></li>-->
							      <li><a href="/events/all/">Compete</a></li>
                                                              <li><a href="/leaderboard">Compare</a></li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activity Type
							    <span class="caret"></span></a>
							    <ul class="dropdown-menu">
							      <li><a href="/events/all/">All</a></li>
							      <li><a href="/events/running/">Running</a></li>
							      <li><a href="/events/cycling/">Cycling</a></li>
							      <li><a href="/events/hiking/">Hiking</a></li>
							    </ul>
							  </li>
							  <li><a href="/dash/">Dashboard</a></li>
							  <li><a href="#">Wallet</a></li>

							</ul>
						    </div>
						    <div class="col-md-4">
						    </div>
						    </div>
							{% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                              <li><a href="/events/all/">Compete</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
							{% endif %}
					</nav>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12 col-12-medium imp-medium">

								<!-- Content -->
									<article>
										<header>
											<h3>FILTERS: REGISTERED EVENTS | PUBLIC EVENTS | PRIVATE GROUP EVENTS</h3>
											<h3>SORT BY: EVENT DATE | ANNOUNCED | USERS | PRIZE POOL | TAX RATE | REVERSE</h3>
										</header>
									</article>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="slider-form">
                <div class="modal-body" style="padding:40px 20px;">
                        {% csrf_token %}
                        <div id="the_form">
                                {{ SLIDERFORM }}
                        </div>  
                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>
                        <div id="weight_info">
                                <center><b id="weight"></b><b id="value"></b></center>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <a href="/vote/@activity/w100" id="voter"><i class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-triangle-top"></span> Vote</i></a>
                </div>
        </form>
      </div>
    </div>
  </div>
					                                    {% for event in MODEL %}
										<article class="box post">
										<header><h3><a href="/event/{{ event.pk }}">{{ event.name }}</a> -- {{ event.event_date|date }}.</h3></header>
										<div class="row">
											<div class="col-2">
                                                                                          <p>
                                                                                            <center><img src="/media/{{ event.photo }}" class="responsive" alt="No Image"/></center>
                                                                                          </p>
											</div>
											<div class="col-7">
												<p><strong>{{ event.post_body[:140] }}...</strong><br><br>
												Current Prize Pool = {{ event.prizepool }}<br>
												Minimum Activity Tax Rate = {{ event.event_tax*100 }}%<br>
												Number of Users Registered = {{ event.participants.count() }}!</p>
											</div>
											<div class="col-3">
												<a href="/event/{{ event.pk }}/"><i class="button small">READ MORE</i></a>
											</div>
										</div>
										<footer>
											<div class="row">
											<div class="col-8">
												Announced {{ event.create_date|date }} |
                                                                                          xx   <i class="icon alt fa-comment-o"></i>  |
                                                                                          xx   <i class="icon alt fa-hand-paper-o"></i>
											</div>
											<div class="col-4">
<!--                                                                                          <i class="button"><i class="icon alt fa-comment-o"></i></i>
                                                                                          <i class="button"><i class="icon alt fa-hand-paper-o"></i></i>
											  <i class="button"><i class="icon alt fa-retweet"></i></i>-->
											{% if event.closed %}
											  <a href="/event/{{ event.pk }}/">
												<i class="button">REGISTRATION CLOSED</i></a>
											{% else %}
											  <a href="/event/commit/{{ event.pk }}/">
												{% if USER in event.participants.all() %}
                                                                                                        <i class="button">LEAVE <i class="icon alt fa-user-plus"></i></i></a>
												{% else %}
													<i class="button">JOIN <i class="icon alt fa-user-plus"></i></i></a>
												{% endif %}
											{% endif %}
											</div>
											</div>
										</footer>
										</article>
					                                    {% endfor %}

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				{% block footer %}
                    {% include 'footer.html' %}
                {% endblock %}

		</div>

		<!-- Scripts -->
<script>

</script>

			<script src="{{ STATIC_URL }}activities/assets/js/slider_ajax.js"></script>
<!--			<script src="{# STATIC_URL #}activities/assets/js/jquery.min.js"></script>
			<script src="{# STATIC_URL #}activities/assets/js/jquery.dropotron.min.js"></script>-->
			<script src="{{ STATIC_URL }}activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}activities/assets/js/main.js"></script>
<!--                        <script src="{# STATIC_URL #}activities/assets/js/jquery-3.3.1.min.js"></script>-->
                        <script src="{{ STATIC_URL }}activities/assets/js/rango-ajax.js"></script>

<!--			<script type='text/javascript' src="{# STATIC_URL #}js/jquery-ui.js"></script>-->
	</body>
</html>
