<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - LEADERBOARDS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">
                       <!-- Header -->
                                <section id="header">

                                        <!-- Logo -->
                                                <h1><a href="/">EXHAUST</a></h1>

                                        <!-- Nav -->
                                                <nav id="nav">
                                                        <ul>
                                                                <li><a href="/">HOME</a></li>
                                                                <li class="current">
                                                                        <a href="#">EXPLORE</a>
                                                                        <ul>
                                                                                <!--<li><a href="#">Map</a></li>
                                                                                <li><a href="#">Statistics</a></li>
                                                                                <li><a href="#">Everyone</a></li>-->
                                                                                <li>
                                                                                        <a href="/leaderboard">Leaderboards</a>
			                                                              <li><a href="/events/all/">Compete</a></li>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                {% if user.is_authenticated %}
                                    <li><a href="feed/all/new/">Feed</a></li>
                                    <li><a href="dash/">Dashboard</a></li>
                                    <li><a href="https://steemit.com/@{{ request.user }}/transfers">Wallet</a></li>
                                {% else %}
                                    <li><a href="feed/all/new/">Feed</a></li>
                                {% endif %}
                                                        </ul>
                                                </nav>
				</section>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-2 col-12-medium">
								<!-- Sidebar -->
								<section class="box">
									<header>
										<h3><center>Activities</center></h3>
									</header>
										<ul>Running</ul>
                                                                                <ul>Cycling</ul>
                                                                                <ul>Hiking</ul>
								</section>
								<section class="box">
									<header>
										<h3><center>Timeframe</center></h3>
									</header>
										<ul>Daily</ul>
										<ul>Weekly</ul>
										<ul>Monthly</ul>
										<ul>All Time</ul>
								</section>
							</div>
							<div class="col-10 col-12-medium imp-medium">
							<!-- Content -->
								<!--<article class="box post" style="background-color:#d52349">
									<header>
									</header>
								</article>-->
								<article class="box post">
									<section>
										<header>
											<h2><center>Running: Weekly Leaderboard</center></h2>
										</header>
										<p>
										 <table style="width:100%">
										  <tr>
										    <th><center>Name</th>
										    <th><center>Activity Count</th>
										    <th><center>Distance<br>(km)</th>
										    <th><center>Duration<br>(min)</th>
										    <th><center>Current Rewards Generated*<br>(SBD)</center></th>
										    <th><center>Potential Rewards Earned**<br>(SBD)</center></th>
										  </tr>
										    {% for user in RUNNERS %}
										  <tr>
										    <td>{{ RUNNERS[user][0] }}</td>
										    <td>{{ RUNNERS[user][1] }}</td>
										    <td>{{ RUNNERS[user][2] }}</td>
										    <td>{{ RUNNERS[user][3] }}</td>
										    <td>{{ RUNNERS[user][4] }}</td>
                                                                                    <td>{{ RUNNERS[user][5] }}</td>
										  </tr>
										    {% endfor %}
										</table>
										</p>
									</section>
								</article>

                                                                <article class="box post">
                                                                        <section>
                                                                                <header>
                                                                                        <h2><center>Cycling: Weekly Leaderboard</center></h2>
                                                                                </header>
                                                                                <p>
                                                                                 <table style="width:100%">
                                                                                  <tr>
                                                                                    <th><center>Name</th>
                                                                                    <th><center>Activity Count</th>
                                                                                    <th><center>Distance<br>(km)</th>
                                                                                    <th><center>Duration<br>(min)</th>
                                                                                    <th><center>Current Rewards Generated*<br>(SBD)</center></th>
                                                                                    <th><center>Potential Rewards Earned**<br>(SBD)</center></th>
                                                                                  </tr>
                                                                                    {% for user in CYCLISTS %}
                                                                                  <tr>
                                                                                    <td>{{ CYCLISTS[user][0] }}</td>
                                                                                    <td>{{ CYCLISTS[user][1] }}</td>
                                                                                    <td>{{ CYCLISTS[user][2] }}</td>
                                                                                    <td>{{ CYCLISTS[user][3] }}</td>
                                                                                    <td>{{ CYCLISTS[user][4] }}</td>
                                                                                    <td>{{ CYCLISTS[user][5] }}</td>
                                                                                  </tr>
                                                                                    {% endfor %}
                                                                                </table>
                                                                                </p>
                                                                        </section>
                                                                </article>

                                                                <article class="box post">
                                                                        <section>
                                                                                <header>
                                                                                        <h2><center>Hiking: Weekly Leaderboard</center></h2>
                                                                                </header>
                                                                                <p>
                                                                                 <table style="width:100%">
                                                                                  <tr>
                                                                                    <th><center>Name</th>
                                                                                    <th><center>Activity Count</th>
                                                                                    <th><center>Distance<br>(km)</th>
										    <th><center>Duration<br>(min)</th>
                                                                                    <th><center>Current Rewards Generated*<br>(SBD)</center></th>
                                                                                    <th><center>Potential Rewards Earned**<br>(SBD)</center></th>
                                                                                  </tr>
                                                                                    {% for user in HIKERS %}
                                                                                  <tr>
                                                                                    <td>{{ HIKERS[user][0] }}</td>
                                                                                    <td>{{ HIKERS[user][1] }}</td>
                                                                                    <td>{{ HIKERS[user][2] }}</td>
                                                                                    <td>{{ HIKERS[user][3] }}</td>
                                                                                    <td>{{ HIKERS[user][4] }}</td>
                                                                                    <td>{{ HIKERS[user][5] }}</td>
                                                                                  </tr>
                                                                                    {% endfor %}
                                                                                </table>
                                                                                </p>
                                                                        </section>
                                                                </article>

                                                                <article class="box post">
                                                                        <section>
                                                                                <header>
                                                                                        <h2><center>Yoga: Weekly Leaderboard</center></h2>
                                                                                </header>
                                                                                <p>
                                                                                 <table style="width:100%">
                                                                                  <tr>
                                                                                    <th><center>Name</th>
                                                                                    <th><center>Activity Count</th>
                                                                                    <th><center>Duration<br>(min)</th>
                                                                                    <th><center>Current Rewards Generated*<br>(SBD)</center></th>
                                                                                    <th><center>Potential Rewards Earned**<br>(SBD)</center></th>
                                                                                  </tr>
                                                                                    {% for user in YOGIS %}
                                                                                  <tr>
                                                                                    <td>{{ YOGIS[user][0] }}</td>
                                                                                    <td>{{ YOGIS[user][1] }}</td>
                                                                                    <td>{{ YOGIS[user][2] }}</td>
                                                                                    <td>{{ YOGIS[user][3] }}</td>
                                                                                    <td>{{ YOGIS[user][4] }}</td>
                                                                                  </tr>
                                                                                    {% endfor %}
                                                                                </table>
                                                                                </p>
                                                                        </section>
                                                                </article>



							</div>
						</div>
					</div>
				</section>
			{% block content %}
                {% include 'footer.html' %}
            {% endblock %}
		</div>
		<!-- Scripts -->
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/main.js"></script>
	</body>
</html>
