<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - @{{ STEEM_ID }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL }}activities/assets/css/main.css" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<section id="header">
					<!-- Logo -->
						<h1><a href="/">EXHAUST</a></h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
                                                                <li class="current"><a href="/@{{ STEEM_ID }}">@{{ STEEM_ID }}</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<li><a href="/leaderboard">Leaderboards</a></li>
									</ul>
								</li>
								<li><a href="/feed/all/new/">Feed</a></li>
								<li><a href="/dash/">Dashboard</a></li>
								<li><a href="/wallet/">wallet</a></li>
							</ul>
						</nav>
				</section>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<!-- Sidebar -->
								<section class="box">
									<center><img src="{{ profile_image }}" alt="{{ profile_image }}" style="width:250px;"/></center>
									<header>
										<h2>{{ STEEM_ID }}</h2>
										<h3>From {{ location }}</h3>
										<p>{{ about }}</p>
									</header>
										<h3>Recent Activities</h3>
									{% if RUNLIST == 'No Activities Yet!' %}
										<ul>{{ RUNLIST }}</ul>
									{% else %}
										{% for run in RUNLIST %}
										<ul><a href="/feed/run/{{ run.pk }}/">{{ run.title }}</a></ul>
										{% endfor %}
									{% endif %}
									<footer><center>
									{% if 5>10 %}
										<a href="follow" class="button alt">FOLLOW</a>
									{% else %}
										<a href="unfollow" class="button alt">UNFOLLOW</a>
									{% endif %}
									</center></footer>
								</section>
								<section class="box">
									<header>
										<h3>Other Posts by @{{ STEEM_ID }}:</h3>
									</header>
									{% if NUMPOSTS < 1 %}
										<ul>{{ STEEM_ID }} hasn't posted anything!</ul>
									{% else %}
										{% for post in POSTLIST %}
									<ul><a href="/article/@{{ STEEM_ID }}/{{ post[0]['comment']['permlink'] }}">{{ post[0]['comment']['title'] }}:</a> from {{ post[1] }} ago.</ul>
										{% endfor %}
									{% endif %}
									<footer>
										<a href="#" class="button alt">SEE MORE</a>
									</footer>
								</section>
							</div>
							<div class="col-8 col-12-medium imp-medium">
							<!-- Content -->
								{% if cover_image != 'null'%}
								<article class="box post" style="background-image:url('{{ cover_image }}');width:800px;height:200px" >
								</article>
								{% else %}
								<article class="box post" style="background-color:#d52349">
									<header>
										<h2>{{ STEEM_ID }}</h2>
										<h3>From {{ location }}</h3>
										<p>{{ about }}</p>
									</header>
								</article>
								{% endif %}
								<article class="box post">
									<section>
										<header>
											<h2>General Statistics</h2>
										</header>
										<p>
											Total Number of Activities. Member since. Stuff like that..
										</p>
									</section>
									<section>
										<header>
											<h2>Running Statistics</h2>
										</header>
										<p>
											Total Number of Runs. Total Disance. Total Time.<br>
											Best 5km; Best 10km; Best Half Marathon; Best Marathon;<br>
											Weekly Distance; Weekly Pace<br>
											Monthly Distance; Monthly Pace<br>
											YTD Distance; YTD Pace<br>
										</p>
									</section>
									<section>
										<header>
											<h2>Achievements Earned</h2>
										</header>
										<p>
											(COMING SOON!)
										</p>
									</section>
								</article>
							</div>
						</div>
					</div>
				</section>
			{% block content %}
                {% include 'footer.html' %}
            {% endblock %}
		</div>
		<!-- Scripts -->
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL }}/activities/assets/js/main.js"></script>
	</body>
</html>
