<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - Article by @{{ AUTHOR }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL}}/activities/assets/css/main.css" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;

  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }

  </style>

	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->

                                                <nav id="nav">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="active"><a href="/@{{ AUTHOR }}">@{{ AUTHOR }}</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                              <li><a href="/events/all/">Compete</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                          <li><a href="/dash/">Dashboard</a></li>
                                                          <li><a href="#">Wallet</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% endif %}
                                                </nav>
				</section>
			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<header>
									<h2>{{ TITLE }}</h2>
									<p>by @{{ AUTHOR }}</p>
								</header>
								{{ BODY|safe }}
								<br>
								{% if user.is_authenticated %}
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="slider-form">
                <div class="modal-body" style="padding:40px 20px;">
                        {% csrf_token %}
                        <div id="the_form">
                                {{ SLIDERFORM }}
                        </div>
                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>
                        <div id="weight_info">
                                <center><b id="weight"></b><b id="value"></b></center>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <a href="/vote/!{{ AUTHOR }}/w100" id="voter"><i class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-triangle-top"></span> Vote</i></a>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>

									{% if VOTED %}
									<a href="" class="button alt"><i class="icon alt fa-hand-paper-o"></i>  VOTED!</a>
									{% else %}
  <!-- Trigger the modal with a button -->
  <i class="button"><i id="myBtn{{ AUTHOR }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></i>

<script>
$(document).ready(function(){
    $("#myBtn{{ AUTHOR }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/@{{ AUTHOR }}/{{ PERMLINK }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
									{% endif %}
									</article>
                                                        <article class="box">
                                                                <div class="row">
                                                                        <div class="col-12 col-12-medium imp-medium">
                                                                                                        <h3>New Comment</h3>
                                                                                                        <form method="post">
                                                                                                                {% csrf_token %}
                                                                                                                {{ COMMENTER }}
                                                                                                                <input id="comment-btn" type="submit" value="COMMENT">
                                                                                                        </form>
                                                                        </div>
                                                                </div>
                                                        </article>
								{% else %}
                                                                        <a href="/accounts/login/" class="button"><i class="icon alt fa-user"></i>  LOG IN TO VOTE AND COMMENT</a>
							</article>
								{% endif %}

							<header><center>COMMENTS</center></header>
							{% for comment in COMMENTS %}
							<article class="box">
								<div class="row">
									<div class="col-12 col-12-medium imp-medium">
								<h5><a href="/@{{ COMMENTS[comment]['AUTHOR'] }}">{{ COMMENTS[comment]['AUTHOR'] }}</a>:</h5>
								{{ COMMENTS[comment]['BODY']|safe }}
								{{ COMMENTS[comment]['REWARD'] }} |
								{{ COMMENTS[comment]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
								{{ COMMENTS[comment]['NUMREPLIES'] }} <i class="icon fa-comment-o"></i> |
								{% if user.is_authenticated %}
								{% if COMMENTS[comment]['VOTED'] %}
									<a href='#'><i class="icon fa-thumbs-up"></i>   VOTED!</a> |
								{% else %}
  <!-- Trigger the modal with a button -->
  <a><i id="myBtn{{ COMMENTS[comment]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?!?</i></a> |

<script>
$(document).ready(function(){
    $("#myBtn{{ COMMENTS[comment]['PERMLINK'] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
								{% endif %}
									<a href='/article/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
								{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-1 col-12-medium imp-medium">
									</div>
									<div class="col-11 col-12-medium imp-medium">
								{% for reply in COMMENTS[comment]['REPLIES'] %}
									<h5><a href="/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}">{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}</a>:</h5>
									{{ COMMENTS[comment]['REPLIES'][reply]['BODY']|safe }}
									{{ COMMENTS[comment]['REPLIES'][reply]['REWARD'] }} |
									{{ COMMENTS[comment]['REPLIES'][reply]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
									{% if COMMENTS[comment]['REPLIES'][reply]['VOTED'] %}
										<a href=''><i class="icon fa-thumbs-up"></i>   VOTED!</a>
									{% else %}
<!--  <a><i id="myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></a>-->
  <!-- Trigger the modal with a button -->
  <a><i id="myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></a>

<script>
$(document).ready(function(){
    $("#myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>
									{% endif %}
										<a href='/article/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
								{% endfor %}
									</div>
								</div>
							</article>
							{% endfor %}
					</div>
<script>
// Update vote on slider timeout:
$('#slider-form').on('change', function(event){
    event.preventDefault();
    console.log("Change Detected!")  // sanity check
    get_vote_value();
});

// AJAX for grabbing vote weight
function get_vote_value() {
    console.log("Grabbing vote numbers") // sanity check
    console.log($('#id_num').val());
    $.ajax({
        url : "/votecalc", // the endpoint
        type : "POST", // http method
        data : { num : $('#id_num').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#weight").text(json.weight+"% VOTE = ");
            $("#value").text(json.weightvalue+" SBD");
            var weight = json.weight
            var str = $("#voter").attr("href");
            var newlnk = str.replace(/w\d+/, "w"+weight)
            console.log(str);
            console.log(newlnk)
            $("#voter").attr("href", newlnk);
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>

				</section>

                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>

		<!-- Scripts -->
                        <script src="{{ STATIC_URL }}activities/assets/js/slider_ajax.js"></script>
<!--			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>-->
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
<!--			<script src="{{ STATIC_URL }}activities/assets/js/jquery-3.3.1.min.js"></script>-->
			<script src="{{ STATIC_URL }}activities/assets/js/rango-ajax.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>

	</body>
</html>
