

<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - {{ RUNNER }}: {{ RUN.title }} </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL}}/activities/assets/css/main.css" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;

  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }

  </style>

	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
                                                          <li><a href="/">Home</a></li>
							  <li class="active"><a href="/@{{ RUNNER }}">@{{ RUNNER }}</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                              <li><a href="/events/all/">Compete</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                          <li><a href="/dash/">Dashboard</a></li>
                                                          <li><a href="#">Wallet</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% endif %}
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

						<!-- Content -->
								<section>
									<div class="row">
										<div class="col-12">
									<header>
										<h2>{{ RUNNER }} - {{ RUN.title }}</h2>
									</header>
									{% if SUBMITTED or STEEM_ID == RUNNER %}
										<p><center>
											<i class="icon alt fa-calendar"></i> {{ RUN_DATE }} ||
											<i class="icon alt fa-hourglass"></i> {{ HOURS }}:{{ MINUTES }}:{{ SECONDS }} ||
											{% if RUN.gpsfile %}
											<i class="icon alt fa-star"></i> BEST SPLIT KM ||
											<i class="icon alt fa-bolt"></i> FASTEST PACE ||
											<i class="icon alt fa-space-shuttle"></i> {{ ASCENT }}m Climbed
												{% if HRAVG == 'NO HR DATA' %}
												{% else %}
											||<i class="icon alt fa-heart"></i> AVG HR: {{ HRAVG }} ||
											<i class="icon alt fa-heartbeat"></i> MAX HR: {{ HRMAX }}
												{% endif %}
											{% endif %}
											</center>
										</p>
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-6-medium col-12-small">
											<section class="box">
											<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
											  <!-- Indicators -->
											  <ol class="carousel-indicators">
											  {% for link in IMG_LINKS %}
											    <li data-target="#myCarousel" data-slide-to="link[0]"></li>
											  {% endfor %}
											  </ol>
											  <!-- Wrapper for slides -->
											  <div class="carousel-inner">
											    <div class="item active">
											      <img src="{{ IMG_LINKS[0][1] }}" alt="Los Angeles">
											    </div>
											    {% if IMG_LINKS[1] %}
											    <div class="item">
											      <img src="{{ IMG_LINKS[1][1] }}" alt="{{ IMG_LINKS[1][1] }}">
											    </div>
											    {% endif %}
											    {% if IMG_LINKS[2] %}
											    <div class="item">
											      <img src="{{ IMG_LINKS[2][1] }}" alt="{{ IMG_LINKS[2][1] }}">
											    </div>
											    {% endif %}
											  </div>
												  <!-- Left and right controls -->
											  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
											    <span class="glyphicon glyphicon-chevron-left"></span>
											    <span class="sr-only">Previous</span>
											  </a>
											  <a class="right carousel-control" href="#myCarousel" data-slide="next">
											    <span class="glyphicon glyphicon-chevron-right"></span>
											    <span class="sr-only">Next</span>
											  </a>
											</div>
											{% if not SUBMITTED %}
											<center>This run hasn't been posted to STEEM yet! <a href="post/"><i class="button">POST TO STEEM!</i></a></center>
											 <center><strong>YOUR BENEFICIARY SHARES CURRENTLY = {{ TAXES*100 }}%</strong></center>
											{% else %}
											 <br><center>
											  <i class="button alt">{{ REWARD }}</i> |
											  <i class="button alt">{{ COMCOUNT }}   <i class="icon alt fa-comment-o"></i></i>  |
											  <i class="button">{{ RUN.votes }}   <i class="icon alt fa-hand-paper-o"></i></i>  
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="slider-form">
                <div class="modal-body" style="padding:40px 20px;">
                        {% csrf_token %}
                        <div id="the_form">
                                {{ SLIDERFORM }}
                        </div>
                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>
                        <div id="weight_info">
                                <center><b id="weight"></b><b id="value"></b></center>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <a href="/vote/a{{ RUN.pk }}/w100" id="voter"><i class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-triangle-top"></span> Vote</i></a>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>
											 {% if user.is_authenticated and not RUN.voted %}
											  |

  <!-- Trigger the modal with a button -->
  <i class="button"><i id="myBtn{{ RUN.pk }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></i>  


<script>
$(document).ready(function(){
    $("#myBtn{{ RUN.pk }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/a{{ RUN.pk }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>

											 {% endif %}
											 </center>
											 <center>View <a href="/article/{{ RUN.permlink }}">STEEM Post</a></center>
											{% endif %}
											</section>
										</div>
										<div class="col-6 col-12-medium col-12-small">
{% if YOUTUBE != '' %}<iframe src="https://www.youtube.com/embed/{{ YOUTUBE }}" allowfullscreen="" height="400" width="100%" frameborder="0"></iframe>
{% else %}<iframe src="https://www.youtube.com/embed/{{ RUN.video }}" allowfullscreen="" height="400" width="100%" frameborder="0"></iframe>
{% endif %}
<!--											<section class="box">
											    {% if VIEWER == RUNNER %}
												{% if SHOWMAP == 0 %}
												<p><center>No map associated with your activity!</center></p>
												{% else %}
												{% include "maptest.html" %}
					                                                        <ul class="list-inline">
					                                                          <li class="dropdown">
                                        					                    <a class="button alt small" data-toggle="dropdown" href="#">Change Map Privacy
					                                                            <span class="caret"></span></a>
                                        					                    <ul class="dropdown-menu">
					                                                              <li {% if RUN.showmap == 1 %}class="active"{% endif %}><a href="/settings/{{ RUN.pk  }}/1/">Don't Share</a></li>
					                                                              <li {% if RUN.showmap == 5 %}class="active"{% endif %}><a href="/settings/{{ RUN.pk  }}/5/">Share with Everyone</a></li>
                                        					                    </ul>
					                                                          </li>
												</ul>
												{% endif %}
											    {% else %}
												    {% if SHOWMAP > 1%}
													{% include "maptest.html" %}
												    {% else %}
													{% if SHOWMAP == 0 %}
													    <p><center>No map associated with this activity!</center></p>
													{% else %}
													    <p><center>User isn't sharing maps. That's their choice and you should be okay with it.</center></p>
													{% endif %}
												    {% endif %}
											    {% endif %}
											</section>-->
										</div>
									</div><br>
<!--									<div class="row">
										<div class="col-12 col-12-medium col-12-small">
											<section class="box">
												<header>
													<h3>Your Practice Statistics</h3>
												</header>
Some kind of cool yoga stats in here!
												</section>
											</div>
										</div><br>-->
										<div class="row">
											<div class="col-12">
												<section class="box">
												<header>
												<h3>@{{ RUNNER }}'s Activity Notes:</h3>
												</header>
												{{ RUN_NOTES|safe }}
												</section>
											</div>
										</div><br>
										<div class="row">
											<div class="col-12 col-6-medium col-12-small">
										{% if SUBMITTED %}
											{% if user.is_authenticated %}
											<section class="box">
												<div class="row">
													<div class="col-12 col-12-medium imp-medium">
														<h3>New Comment</h3>
														<form method="post">
	    													{% csrf_token %}
    														{{ COMMENTER }}
    														<input type="submit" id="comment-btn" value="COMMENT">
														</form>
													</div>
												</div>
											</section>
											{% else %}
											<section class="box">
												<div class="row">
													<div class="col-12 col-12-medium imp-medium">
													<a href="/accounts/login/" class="button"><i class="icon fa-user">Log In to Comment and Vote!</i></a>
													</div>
												</div>
											</section>
											{% endif %}
										{% endif %}
										{% for comment in COMMENTS %}
											<section class="box">
												<div class="row">
													<div class="col-12 col-12-medium imp-medium">
														<h5><a href="/@{{ COMMENTS[comment]['AUTHOR'] }}">{{ COMMENTS[comment]['AUTHOR'] }}</a>:</h5>
															{{ COMMENTS[comment]['BODY']|safe }}
															{{ COMMENTS[comment]['REWARD'] }} |
															{{ COMMENTS[comment]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
															{{ COMMENTS[comment]['NUMREPLIES'] }} <i class="icon fa-comment-o"></i> |
															{% if user.is_authenticated %}
															 {% if COMMENTS[comment]['VOTED'] %}
															  <a href='#'><i class="icon fa-thumbs-up"></i>   VOTED!</a> |
															 {% else %}
  <!-- Trigger the modal with a button -->
  <a><i id="myBtn{{ COMMENTS[comment]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></a>

<script>
$(document).ready(function(){
    $("#myBtn{{ COMMENTS[comment]['PERMLINK'] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}/w100";
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>

															 {% endif %}
															  <a href='/article/@{{ COMMENTS[comment]['AUTHOR'] }}/{{ COMMENTS[comment]['PERMLINK'] }}'><i class="icon fa-comment">REPLY</i></a>
															{% endif %}
													</div>
												</div>
												<div class="row">
													<div class="col-1 col-12-medium imp-medium">
													</div>
													<div class="col-11 col-12-medium imp-medium">
														{% for reply in COMMENTS[comment]['REPLIES'] %}
															<h5><a href="/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}">{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}</a>:</h5>
															{{ COMMENTS[comment]['REPLIES'][reply]['BODY']|safe }}
															{{ COMMENTS[comment]['REPLIES'][reply]['REWARD'] }} |
															{{ COMMENTS[comment]['REPLIES'][reply]['VOTES'] }} <i class="icon fa-hand-paper-o"></i> |
															# <i class="icon fa-comment-o"></i> |
															{% if user.is_authenticated %}
															{% if COMMENTS[comment]['REPLIES'][reply]['VOTED'] %}
																<a href=''><i class="icon fa-thumbs-up"></i>   VOTED!</a>
															{% else %}
<!--  <a><i id="myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></a>-->
  <!-- Trigger the modal with a button -->
  <a><i id="myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}" class="icon alt fa-thumbs-up"> HIGH FIVE?</i></a>

<script>
$(document).ready(function(){
    $("#myBtn{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}").click(function(){
        $('#id_num').val(''); // remove the value from the input
        var oglnk = "/vote/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}/w100";  
        $("#voter").attr("href",oglnk);
        $("#weight").text("");
        $("#value").text("");
        console.log(oglnk);
        $("#myModal").modal();
    });
});

</script>

															{% endif %}
																<a href='/article/@{{ COMMENTS[comment]['REPLIES'][reply]['AUTHOR'] }}/{{ COMMENTS[comment]['REPLIES'][reply]['PERMLINK'] }}'>REPLY   <i class="icon fa-comment"></i></a><br>
															{% endif %}
														{% endfor %}
													</div>
												</div>
											</section>
											{% endfor %}
										{% else %}
											<section class="box">
												<center><h2>This Activity has not been made public yet!</h2></center>
											</section>
										{% endif %}
										</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
<script>
// Update vote on slider timeout:
$('#slider-form').on('change', function(event){
    event.preventDefault();
    console.log("Change Detected!")  // sanity check
    get_vote_value();
});

// AJAX for grabbing vote weight
function get_vote_value() {
    console.log("Grabbing vote numbers") // sanity check
    console.log($('#id_num').val());
    $.ajax({
        url : "/votecalc", // the endpoint
        type : "POST", // http method
        data : { num : $('#id_num').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#weight").text(json.weight+"% VOTE = ");
            $("#value").text(json.weightvalue+" SBD");
            var weight = json.weight
            var str = $("#voter").attr("href");
            var newlnk = str.replace(/w\d+/, "w"+weight)
            console.log(str);
            console.log(newlnk)
            $("#voter").attr("href", newlnk);
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>
				</section>

			
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>
		<!-- Scripts -->
                        <script src="{{ STATIC_URL }}activities/assets/js/slider_ajax.js"></script>
<!--			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>-->
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>
                        <script src="{{ STATIC_URL}}activities/assets/js/rango-ajax.js"></script>-->
			<script src="{{ STATIC_URL }}/floppyforms/js/MapWidget.js></script>
	</body>
</html>
