<p><button onclick="geoFindMe()">Check in By GPS-Location</button></p>
<div id="out"></div>

<script>
function geoFindMe() {
  var output = document.getElementById("out");

  if (!navigator.geolocation){
    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

    var img = new Image();
//    img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false";
    img.src = "https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1013214666,width=178,height=178/cardinals-i-see-you-bitch.png"
    output.appendChild(img);
    location.replace("/world/find_crag/"+latitude+"/"+longitude+"/")
  }

  function error() {
    output.innerHTML = "Unable to retrieve your location";
  }

  output.innerHTML = "<p>Locating…</p>";

  navigator.geolocation.getCurrentPosition(success, error);
}
</script>
