{% load static %}

<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - GPS CHECKIN </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/activities/assets/css/main.css' %}" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 5em 0 4em 0;
    text-align: center;

  }
  #header>h1 {
    color: #252122;
    font-weight: 1000;
    font-size: 2.75em;
    letter-spacing: -0.035em;
    line-height: 0;
  }
  #main {
    padding: 1em 0 1em 0;
  }
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d52349;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  .nav-pills>li>a {
    color: #000;
    padding: 15px 5px;
    font-size: 16px;
    font-style: italic;
  }
  #footer {
    position: relative;
    color: #858484;
    background-color: #252122;
  }

  </style>

	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="nav nav-pills nav-justified">{% if user.is_authenticated %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                          <li><a href="/dash/">Dashboard</a></li>
                                                          <li><a href="#">Wallet</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% else %}
                                                          <li><a href="/">Home</a></li>
                                                          <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/leaderboard">Leaderboards</a></li>
                                                            </ul>
                                                          </li>
                                                          <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEED
                                                            <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="/feed/all/new/">All</a></li>
                                                              <li><a href="/feed/running/new/">Running</a></li>
                                                              <li><a href="/feed/cycling/new/">Cycling</a></li>
                                                              <li><a href="/feed/hiking/new/">Hiking</a></li>
                                                            </ul>
                                                          </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                    </div>
                                                        {% endif %}
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

						<!-- Content -->
								<section>
									The nearest place to climb is {{ CRAGNAME }} @ {{ SUBREGION }} -- Approximately {{ DISTANCE }}km away.
												{% include "world/map.html" %}
									{{ DISTLIST }}
								</section>
							</div>
						</div>
					</div>
				</section>

			
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>
		<!-- Scripts -->
			<script src="{% static '/activities/assets/js/browser.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/activities/assets/js/util.js' %}"></script>
			<script src="{% static '/activities/assets/js/main.js' %}"></script>
	</body>
</html>
