<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EXHAUST - NEW ACTIVITY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ STATIC_URL}}/activities/assets/css/main.css" />
	</head>
    	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index">EXHAUST</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li>
									<a href="#">Explore</a>
									<ul>
										<li><a href="/leaderboard">Leaderboards</a></li>
									</ul>
								</li>
								<li><a href="/feed/all/new/">Feed</a></li>
								<li><a href="#" class="current">NEW {{ ACTIVITY_TYPE }}</a></li>
								<li><a href="/dash/">Dashboard</a></li>
							</ul>
						</nav>

				</section>

		<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								  <center><h2>Add New {{ ACTIVITY_TYPE }} by GPS File or Data Entry:</h2></center>
    {% block fileupload %}
        {% include 'file_form_upload.html' %}
    {% endblock %}
							</article>

					</div>
				</section>


                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}

		</div>

		<!-- Scripts -->
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/browser.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/breakpoints.min.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/util.js"></script>
			<script src="{{ STATIC_URL}}/activities/assets/js/main.js"></script>

</html>
