<html>
  <head>
  <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<center><canvas id="paceChart" width="300" height="200" style="border:0px solid #000000;"></canvas></center>
<script>
var ctx = document.getElementById("paceChart").getContext('2d');
var Chart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            borderColor: 'rgba(101,240,255,1)',
            backgroundColor: 'rgba(101,240,255,0.4)',
            pointRadius: 2,
            label: 'Pace Data',
            data: [{% for point in PACE %}{
              x: {{ point[0] }},
              y: {{ point[1] }},
            },{% endfor %}
            ],
            borderWidth: 2,
        }],
    },
    options: {
        legend: {
            display: false,
            position: 'left',
            labels: {
                boxWidth: 10,
            },
        },
        layout: {
            padding: {
                top: 10,
                right: 10,
            },
        },
        title: {
            display: false,
            text: 'Custom Chart Title',
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            xAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 1.0,
                    },
                 }],
            yAxes: [{
                ticks: {
                    max: {{ RUN.duration / 60 }} / {{ RUN.distance / 1000 }} *1.5,
                    min: {{ RUN.duration / 60 }} / {{ RUN.distance / 1000 }} / 1.5,
                    reverse: true,
                    beginAtZero:false
                }
            }],
        }
    }
});
</script>

</body>
</html>
