{% block fileupload %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ fileform }}
    <br><center><button type="submit">Upload</button></center>
  </form>
<ul>Title is required;</ul>
<ul>Either select GPS file, or fill out distance and duration fields.</ul>

  <p><a href="/dash/">Nevermind -- Return to Dashboard</a></p>
{% endblock %}
