<!-- Footer -->
<section id="footer">
 <div class="container">
  <div class="row">
   <div class="col-8 col-12-medium">
    <section>
     <header>
      <h2>
       Important Blog Posts and Updates from EXHAUST
      </h2>
     </header>
     <ul class="dates">
      <li>
       <span class="date">
        <b>
         MAR
        </b>
        <strong>
         27
        </strong>
       </span>
       <h3>
        <a href="/article/@exhaust/state-of-exhaustion---march-27-2019">
         State of Exhaustion - March 27, 2019
        </a>
       </h3>
       <p>
        A friendly place to try hard! Come get EXHAUSTED!...
       </p>
      </li>
      <li>
       <span class="date">
        <b>
         MAR
        </b>
        <strong>
         26
        </strong>
       </span>
       <h3>
        <a href="/article/@exhaust/state-of-exhaustion---march-26-2019">
         State of Exhaustion - March 26, 2019
        </a>
       </h3>
       <p>
        A friendly place to try hard! Come get EXHAUSTED!...
       </p>
      </li>
      <li>
       <span class="date">
        <b>
         MAR
        </b>
        <strong>
         25
        </strong>
       </span>
       <h3>
        <a href="/article/@exhaust/state-of-exhaustion---march-25-2019">
         State of Exhaustion - March 25, 2019
        </a>
       </h3>
       <p>
        A friendly place to try hard! Come get EXHAUSTED!...
       </p>
      </li>
     </ul>
     <ul>
      <a class="button" href="#">
       More
      </a>
     </ul>
    </section>
   </div>
   <div class="col-4 col-12-medium">
    <section>
     <header>
      <h2>
       What's this all about?
      </h2>
     </header>
     <!--     <a class="image featured" href="#">
      <img alt="" src="images/pic10.jpg"/>
     </a>-->
     <p>
      This is
      <strong>
       EXHAUST
      </strong>
      . A free, community driven approach to incentivize people to get active. Leveraging the cutting edge STEEM blockchain allows users to earn rewards, and participate in a globally connected ecosytem of
      <a href="https://busy.org">
       bloggers
      </a>
      ,
      <a href="https://steepshot.io">
       photographers
      </a>
      ,
      <a href="https://d.tube">
       videographers
      </a>
      ,
      <a href="https://vimm.tv">
       streamers
      </a>
      ,
      <a href="https://utopian.io">
       developers
      </a>
      and more. (Shoutout to the wizard(s) at
      <a href="https://html5up.net">
       HTML5UP
      </a>
      for the great website template that has let us get started!)
     </p>
    </section>
   </div>
   <div class="col-4 col-6-medium col-12-small">
    <section>
     <header>
      <h2>
       <a href="/article/@exhaust/exhaust-faq">
        FAQ - EXHAUST
       </a>
      </h2>
     </header>
    </section>
   </div>
   <div class="col-4 col-6-medium col-12-small">
    <section>
     <header>
      <h2>
       <a href="https://steemit.com/faq.html">
        FAQ - STEEM
       </a>
      </h2>
     </header>
    </section>
   </div>
   <div class="col-12">
    <!-- Copyright -->
    <div id="copyright">
     <ul class="links">
      <li>
       © Exhaust. All rights reserved.
      </li>
      <li>
       Design:
       <a href="http://html5up.net">
        HTML5 UP
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</section>
