{% block fileupload %}
<h2><center>Edit Steem Post:</center></h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--        {{ eventform }}-->
        {{ markdownform }}
	{{ markdownform.media }}
  </form>

{% endblock %}
