{% block fileupload %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-4 col-12-medium imp-medium">
      {% if ACTIVITY == 'Yoga' %}
        {{ yogaform }}
      {% else %}
        {{ strengthform }}
      {% endif %}
      </div>
      <div class="col-5 col-12-medium imp-medium"><br>
        <ul>Please choose a title for your post;</ul>
        {% if ACTIVITY == "Yoga" %}
	<p>Optional -- Add URL if you followed along with a YouTube video. Support coming soon for dTube videos and  beneficiary options!!</p>
        <ul><h4>Either input Activity Data:</h4></ul>
	<li>   Duration (hh:mm:ss);</li>
        <li>   Style (Hatha, Yin, Ashtanga)</li>
	<li>   Instructor (YouTube or dTube video owner)</li>
        <ul><h4>Upload up to three photos</h4></ul>
        {% endif %}
        {% if ACTIVITY == "Strength Training" %}
        <p>Logging Strength Training Workouts is a work in progress and subject to change. Some data may be lost. We'll try to incorporate tracking different equipment, movements, sets, reps, rest time, and weight utilized soon!!</p>
        <ul><h4>Input Workout Data:</h4></ul>
        <li>   Duration (hh:mm:ss);</li>
        <li>   Targeted Muscle Group(s) (Arms, Legs, Back, Core, etc...)</li>
        <li>   Equipment Used (Bodyweight, dumbbells, barbells, rowing machine, etc...)</li>
        <ul><h4>Upload up to three photos</h4></ul>
        {% endif %}
      </div>
      <div class="col-3 col-12-medium imp-medium">
        {{ photoform }}
      </div>
    </div>
    {{ commentform }}
    {{ tagform }}
    <br><center><button type="submit">Upload</button></center>
  </form>
<ul>Title is required;</ul>

  <p><a href="/dash/">Nevermind -- Return to Dashboard</a></p>
{% endblock %}
