{% block fileupload %}
<header><center>Customize Your Steem Post!</center></header>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--        {{ eventform }}-->
	{{ markdownform }}
	{{ markdownform.media }}
  </form>

{% endblock %}
