<html>
  <head>
  <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

<center><canvas id="scatterChart" height="400" style="border:1px solid #000000;"></canvas></center>
<script>
var ctx = document.getElementById("scatterChart").getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Run Pace',
            borderColor: 'red',
            fill: false,
            showLine: false,
            data: [{% for run in RUN_LIST %}{
              x: {{ run.distance/1000 }},
              y: {{ (run.duration/60)/(run.distance/1000) }},
            },{% endfor %}
            ],
            pointRadius: 5.0,
            borderWidth: 1
        }],
    },
    options: {
        title: {
            display: true,
            text: 'Your Historical Run Pace (min/km) vs. Run Distance (km)'},
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: true,
            },
        scales: {
            xAxes: [{
                gridLines:{
                    display: false,
                    },
                type: 'linear',
                label: 'Distance',
                position: 'bottom',
                ticks: {
                    beginAtZero:true,
                    stepSize: 1.0,
                }
            }],
            yAxes: [{
                time: {
                    unit: 'minute'
                },
                ticks: {
                    beginAtZero:true,
                    reverse: true,
                    min: 2,
                    max: 10,
                    stepSize: 1.0,
                }
            }]
        }
    }
});
</script>

</body>
</html>
