<html>
  <head>
  <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

<center><canvas id="splitChart" width="300" height="250" style="border:0px solid #000000;"></canvas></center>
<script>

var ctx = document.getElementById("splitChart").getContext('2d');
var Chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for split in SPLITS %}
                '{{ split[0] }}',
            {% endfor %}
        ],
        datasets:[{
            label: "Split Times",
            data: [
            {% for split in SPLITS %}
                '{{ split[1] }}',
            {% endfor %}
            ],
        }],
    },
    options: {
        legend: {
            display: false,
            position: 'left',
        },
        layout: {
            padding: {
                top: 10,
                right: 10,
            },
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
         },
        responsive: true,
        maintainAspectRatio: false,
    },
});
</script>

</body>
</html>
